@import "var";


body {
    min-width: 320px;
    width: auto !important;
    width: 320px;
    overflow: hidden;
}

.table-container {
    border: 2px solid $ui-blue;
    height: 65vh;
    overflow: auto;

    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color: $ui-white;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $ui-dark-blue;
    }
}

.check {
    border: 1px solid red;
}

.content {
    height: 100vh;
    display: flex;
}

.left-sidebar__close,
.content_mask {
    display: none;
}

.left-sidebar {
    z-index: 9998;
    width: 20%;
    background-color: $ui-blue;
    position: relative;




    .left-sidebar__header {
        background-color: $ui-dark-blue;
        padding: 0px $main-gap 0px $main-gap;

        .left-sidebar__logo {
            font-size: 25px;
            color: $ui-white;
            display: flex;
            align-items: center;
            cursor: pointer;

            span {
                padding: 0 0 0 $main-gap/2;
            }
        }


    }

    .left-sidebar__menu {
        .router-link-exact-active {
            background-color: $ui-active-blue;
        }

        a {
            display: block;
            padding: $main-gap/2 $main-gap $main-gap/2 $main-gap;
            color: $ui-white;
            transition: .25s;
            text-decoration: none;


            span {
                padding: 0 0 0 $main-gap/2;
            }

            &:hover {
                background-color: $ui-active-blue;
            }
        }
    }
}

.main {
    flex: 1;
}

.main_header,
.left-sidebar__header {
    height: 10vh;
    min-height: 70px;
    display: flex;
    align-items: center;
}

.main_header {
    background-color: $ui-grey;

    a {
        padding: 0 0 0 $main-gap;

    }

    .main__links {
        span {
            padding: 0 0 0 $main-gap/2;
        }
    }
}

.main_content {
    padding: $main-gap $main-gap 0 $main-gap;
    overflow: auto;
    height: 90vh;
}

.msg-page {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;

    .msg-page__text {
        text-align: center;
    }
}

.graph-dash {
    width: 40vw;
    min-height: 40vw;
}


.pagination {
    .input-group {
        width: 130px;
    }

    .toPage {
        margin: 0 $main-gap*0.25 0 $main-gap*0.25
    }
}

.sortId {
    cursor: pointer;
    transition: .25s;

    &:hover {
        color: $ui-dark-blue;
    }
}

.content-mask{
    position: fixed;
    z-index: 9997;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    transition: opacity 0.25s ease;
}