@import "var";

@media screen and (max-width: 762px) {

    .pagination {
        .input-group {
            display: none;
        }

        button {
            width: 32px;
            height: 32px;
            padding: 0px;
        }
    }


    .left-sidebar.mobile-sidebar {
        left: 0px;
    }

    .left-sidebar {
        width: 60%;
        position: fixed;
        top: 0px;
        left: -60%;
        height: 100%;
        transition: .25s;

        .left-sidebar__close {
            display: block;
            color: $ui-white;
            position: absolute;
            top: 10px;
            right: 10px;
        }
    }

    .graph-dash {
        width: 60vw;
        min-height: 60vw;
    }

    .content-mask {
        display: table;
    }
}


@media screen and (max-width: 320px) {
    .left-sidebar {
        position: fixed;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 75%;
    }

    .graph-dash {
        width: 75vw;
        min-height: 75vw;
    }
}

//762px | md-sm
//992px | lg-md
//320px | sm